<%- include "./partials/header" %>

<h1>Quiz</h1>

<form action="">
  <div>
    <label>Select only one answer</label><br>
    
    <div>
      <p>1) Which of the following statements is true?</p>
      <input type="radio" value="All infinite sets have the same cardinality.">
      <input type="radio" value="Two sets have the same cardinality when there is a one-to-one correspondence between the elements of the two sets.">
      <input type="radio" value="The cardinality of a subset is always less than that of its superset.">
      <input type="radio" value="All of the above are true.">
    </div>

    <div>
      <p>2) Which of the following sets has the highest cardinality?</p>
      <input type="radio" value="Set of all positive integers">
      <input type="radio" value="Set of all even numbers">
      <input type="radio" value="Set of all fractions">
      <input type="radio" value="All of the sets above have identical cardinality.">
    </div>

    <div>
      <p>3) Which of the following sets has the lowest cardinality?</p>
      <input type="radio" value="Set of all integers">
      <input type="radio" value="Set of all irrational numbers">
      <input type="radio" value="Set of all numbers between 0 and 1">
      <input type="radio" value="All of the sets above have identical cardinality.">
    </div>

    <div>
      <p>4) Which of the following is the boson(s) of the electromagnetic force?</p>
      <input type="radio" value="Gluon">
      <input type="radio" value="Photon">
      <input type="radio" value="Higgs Boson">
      <input type="radio" value="W & Z Boson">
    </div>

    <div>
      <p>5) Which of the following are congruent with general relativity?</p>
      <input type="radio" value="There is no observable difference between a fram under constant acceleration and a frame experiencing gravitational acceleration of the same vector.">
      <input type="radio" value="Gravitational lensing occurs when the gravity of a massive object bends light from a source to an obstructed observer.">
      <input type="radio" value="The magnitude of time dilation increases as the gravitational influence of a frame increases.">
      <input type="radio" value="All of the above are true.">
    </div>

    <div>
      <p>6) Which of the following are congruent with special relativity?</p>
      <input type="radio" value="Objects in a moving frame are stretched relative to a stationary frame.">
      <input type="radio" value="Clocks in a stationary frame runs slower relative to a moving frame.">
      <input type="radio" value="Simultaneous events to a stationary frame are not simultaneous to a moving frame.">
      <input type="radio" value="All of the above are true.">
    </div>
  </div>

  <div>
    <label>Select all correct answers</label>
    <div>
      <p>5) </p>
      <input type="radio" value="Gluon">
      <input type="radio" value="Photon">
      <input type="radio" value="Higgs Boson">
      <input type="radio" value="W & Z Boson">
    </div>

  </div>

  <input type="submit" value="Submit">
</form>

<%- include "./partials/footer" %>
